[2016-12-21 19:52] myoung34 opened #1 "Add support for network on create"

[2016-12-21 19:52] myoung34 opened #2 "Add support for halt"

[2016-12-21 19:53] myoung34 opened #3 "Add support for userdata"

[2016-12-21 19:53] myoung34 opened #4 "Add support for provision"

[2016-12-21 19:53] myoung34 opened #5 "add support for reload"
Resolved by #41

[2016-12-21 19:53] myoung34 opened #6 "add support for resume"

[2016-12-21 19:53] myoung34 opened #7 "add support for status"

[2016-12-21 19:53] myoung34 opened #8 "add support for suspend"

[2016-12-21 20:06] myoung34 opened #9 "Create basic tests framework for commands"

[2016-12-25 13:09] myoung34 commented on #1
Resolved by #10
Needs to be refactored

[2017-01-07 04:16] myoung34 opened #12 "Add support for 'ssh'"

[2017-01-07 04:16] myoung34 commented on #12
Resolved by #11

[2017-01-07 04:16] #12 closed

[2017-01-07 04:16] myoung34 commented on #1
Resolved by #11

[2017-01-07 04:16] #1 closed

[2017-01-07 04:17] myoung34 opened #13 "Add support for 'ssh -c'"

[2017-01-07 04:18] myoung34 opened #14 "Add support for ssh-config"

[2017-01-07 04:18] myoung34 opened #15 "Add support for snapshot"

[2017-01-07 04:18] myoung34 opened #16 "Add support for port"

[2017-01-07 04:19] #16 closed

[2017-01-07 04:19] myoung34 commented on #16
does not support  forwarded ports

[2017-01-07 04:19] myoung34 opened #17 "Add support for cpu/ram specs"

[2017-01-07 04:20] myoung34 opened #18 "Add support for setting operating system type"

[2017-01-07 04:20] myoung34 opened #19 "Add support for setting authentication on first run"

[2017-01-07 04:21] myoung34 opened #20 "Add support for multiple disks"

[2017-01-07 04:21] myoung34 opened #21 "Add support for setting instance type"

[2017-01-07 04:21] myoung34 opened #22 "Add support for setting optimized for"

[2017-01-07 04:22] myoung34 opened #23 "Add support for setting delete protection"

[2017-01-07 04:22] myoung34 opened #24 "Add support for multiple NICs"

[2017-01-08 19:53] myoung34 opened #25 "Add docs on creating template for Vagrant"

[2017-01-08 20:50] myoung34 opened #26 "Investigate current cpu/memory/configuration values that are required but never used."

[2017-01-08 20:55] myoung34 opened #27 "create type restriction/verification on console to be one of spice, vnc, or rdp"

[2017-01-08 20:56] #25 closed

[2017-01-09 03:54] myoung34 opened #30 "Create travis config for basic tests"

[2017-01-09 03:54] myoung34 opened #31 "Create jenkins box and set up PR tests with acceptance tests"

[2017-01-09 08:53] alclonky opened #32 "Installation Guide"
Hi,
i tried installing the plugin an a CentOS VM using vagrant_1.9.1
but it failed

Installing the '/tmp/vagrant-ovirt4.gem' plugin. This can take a few minutes...
Building native extensions.  This could take a while...
Bundler, the underlying system Vagrant uses to install plugins,
reported an error. The error is shown below. These errors are usually
caused by misconfigured plugin installations o

[2017-01-09 10:17] myoung34 commented on #32
Don't think it's a gem issue. Try to install `yum install -y libxml2-devel` first. I'm on mobile, I think that's the package

[2017-01-09 10:20] alclonky commented on #32
libxml2-devel is installed otherwise the installation with gem fails too

[2017-01-09 15:07] myoung34 commented on #32
I had no issues building off of master:

[code]

the box i'm developing from is a centos 7 Vm from inside oVirt as well:

[code]

[2017-01-09 15:11] myoung34 opened #33 "Configure merge policy"

[2017-01-09 15:19] alclonky commented on #32
i **can** install the gem with "gem" thats not the Problem,
i **can't** install it with vagrant plugin install
vagrant only uses the gems installed with vagrant?

[2017-01-09 18:34] myoung34 commented on #32
oops. That might be  a misconfiguration. In the first few commits I took a lot of shortcuts so I could use vagrant with bundler. i'll look further

[2017-01-10 03:36] myoung34 commented on #32
Opened https://bugzilla.redhat.com/show_bug.cgi?id=1411594

In the mean time you can do

[code]

[2017-01-12 12:16] myoung34 opened #34 "Create compatibility matrix in tests"
Noticed some compile errors on oVirt 4.0.7 under vagrant 1.8.7

Need to ensure acceptance tests run under compatibility matrix

Wont do all.

* Vagrant Versions I think I might allow (rolling last 3 versions):
  * vagrant_1.9.1
  * vagrant_1.9.0
  * vagrant_1.8.7
* OS
  * centos 6
  * centos 7
  * ubuntu 12.04 LTS
  * ubuntu 14.04 LTS
  * ubuntu 16.04 LTS
  * ubuntu 15.10

[2017-01-12 12:26] myoung34 opened #35 "Exception on up for non-unique 'name'"
[code]

[2017-01-12 12:30] myoung34 commented on #32
https://github.com/mitchellh/vagrant/issues/8190

[2017-01-12 12:30] #32 closed

[2017-01-28 19:36] #2 closed

[2017-01-29 13:28] myoung34 commented on #3
Resolved in 4b10bc9dc0c72e40e863c1b6f1683a6fb8e867bd

[2017-01-29 13:53] myoung34 opened #39 "Fix inconsistencies in `action.rb` for state"
Use new code found in `action_halt` and `action_reload` to call `with_ovirt` chain method

[2017-01-29 14:01] myoung34 opened #40 "Add missing `up` translations"
[code]

[2017-01-29 14:33] #5 closed

[2017-01-29 23:03] #40 closed

[2017-01-29 23:03] #7 closed

[2017-01-29 23:25] #8 closed

[2017-01-29 23:34] #6 closed

[2017-01-30 03:48] #14 closed

[2017-01-30 03:52] #13 closed

[2017-01-30 03:59] myoung34 opened #46 "Add pre-built ovirt-guest-agent docker image to setup on atomic"
https://www.projectatomic.io/blog/2015/01/running-ovirt-guest-agent-as-privileged-container/

[2017-01-30 04:04] myoung34 opened #47 "add lint (rubocop)"

[2017-02-01 19:57] #15 closed

[2017-02-04 20:11] myoung34 opened #49 "Add support for syncing folders"

[2017-02-04 20:11] myoung34 opened #50 "Add support for domain name set"

[2017-02-04 20:12] myoung34 opened #51 "Add support for hostname"

[2017-02-04 20:22] #49 closed

[2017-02-04 20:36] #4 closed

[2017-02-04 20:42] #50 closed

[2017-02-04 20:42] #51 closed

[2017-02-05 12:41] myoung34 commented on #35
Still an issue

[2017-02-05 17:30] myoung34 commented on #3
Not resolved, placeholder code was sent in that commit

[2017-02-05 19:36] myoung34 opened #55 "if IP fails to publish, start continues as if it did after timeout"
[code]

[2017-02-05 19:40] #55 closed

[2017-02-09 09:22] mykaul opened #57 "How do I pass the certificate of the Engine?"
If I'd like to have a secure connection, what is the configuration option for the path of the CA certificate?

[2017-02-09 11:34] myoung34 commented on #57
Didn't implement yet only how to disable it until I got it off the ground. Let me see if I can get something going on that today

[2017-02-09 11:35] myoung34 opened #58 "Add support for host pinning"

[2017-02-09 12:33] myoung34 commented on #57
Does it work if the host youre running on trusts the oVirt server with insecure set to false or not set in the Bangor? It's my understanding that the flag is unfortunately named the API and that it will still be SSL, just no verification on sni. Correct if I'm wrong on the latter @mykaul

[2017-02-10 20:44] jasonbrooks commented on #46
I'm doing this right now w/ `rpm-ostree install epel-release --reboot` and then `rpm-ostree install ovirt-guest-agent-common`

[2017-02-13 12:15] mgoldboi opened #59 "User permissions to use Vagrant-ovirt"
If i would like for one of the developers (users) defined in the system to be using vagrant. what is the right set of permissions i would need to define for him. administrator (as shown in the example) is a bit too high ranked for my use case.

Thanks.

[2017-02-13 13:19] myoung34 commented on #59
Do you mean oVirt permissions or system permissions inside the vagrant box?

[2017-02-13 13:19] myoung34 opened #60 "Allow SSH User/Key overrides"

[2017-02-13 13:23] myoung34 commented on #46
Do you do that to a live running instance? I made this ticket mostly because I wanted to speed up instance creation time by having the actual container from the post pulled onto the box so that when I run it via cloud-init it would run near instantly and not pull all the data at that time

[2017-02-13 13:24] myoung34 commented on #30
Going to just use jenkins

[2017-02-13 13:24] #30 closed

[2017-02-13 13:26] myoung34 commented on #33
will be superceded by jenkins overall

[2017-02-13 13:26] #33 closed

[2017-02-13 13:36] mgoldboi commented on #59
I mean the oVirt permission, i would expect regular (non-admin) users to be the main audience to be using this great Vagrant functionality.

[2017-02-13 13:46] myoung34 commented on #59
I'm actually not sure but `PowerUserRole` should work. If you want individual permissions I'm open to someone figuring it out and submitting  a PR into the README.md to document it. I can help but telling you what each command will need.

[code]

[2017-02-13 15:11] mykaul commented on #57
Yes, it'll work with SSL without verification.

[2017-02-13 15:25] jasonbrooks commented on #46
I do it while I'm building my template, so yes, it's running. Are you able to do the template-building steps on a machine that isn't live?

[2017-02-15 22:13] #26 closed

[2017-02-15 22:18] #35 closed

[2017-02-15 22:22] myoung34 commented on #21
according to docs

[code]

it's an abstraction and not useful here. I'll reopen if someone really wants it but it would just be some objects the hold memory/cpu, etc

[2017-02-15 22:22] #21 closed

[2017-02-15 23:03] #3 closed

[2017-02-16 15:25] myoung34 opened #64 "Enforce memory specification restrictions"
Right now it might not be clear what memory_size or memory_guaranteed are.
would be a bonus to add some flexibility to it by using [something like this](https://github.com/dominikh/filesize) and restrict it but make it more readable at the same time

[2017-02-16 15:32] myoung34 commented on #46
Im not sure what you mean by isn't live, sorry.

My use-case is just pure laziness (and i'm not really familiar with atomic). When i run vagrant up i want it to be super speedy, and running vagrant up the first time on an atomic template makes it have to do a `docker pull ...` on the ovirt guest agent container, so that initial download adds time. I made this to just have most of those layers alre

[2017-02-16 15:52] jasonbrooks commented on #46
The system image for an atomic host is composed from regular rpms into an ostree tree using rpm-ostree. You can add more rpms, like the ovirt agent, by running them in containers, by creating your own custom ostree image, or by using the package layering feature of rpm-ostree to layer the packages on top of the image. That third thing is what I did. I made a centos atomic VM, added the vagrant use

[2017-02-16 16:16] myoung34 commented on #46
@jasonbrooks awesome, thanks for that. I'm packaging up an atomic box right now so i'll see if i can get that to work!

[2017-02-16 17:37] myoung34 commented on #46
Got it working by 13a5de5f89bd9e3ee8a510fdbe218dec416380df

[2017-02-16 17:37] #46 closed

[2017-02-16 17:45] myoung34 opened #65 "Add support for dns/nameservers"

[2017-02-17 04:14] myoung34 commented on #64
Resolved by #67

[2017-02-17 04:17] myoung34 commented on #17
Resolved by #61

[2017-02-17 04:17] #17 closed

[2017-02-17 04:55] myoung34 commented on #58
Blocked on http://lists.ovirt.org/pipermail/devel/2017-February/029569.html

[2017-02-17 19:27] myoung34 opened #69 "Add support for max memory"
Cant currently create VMs with memory > template memory because it's not supported

[2017-02-17 19:52] #69 closed

[2017-02-18 14:29] #58 closed

[2017-02-20 10:39] mykaul commented on #59
I think what needs to be done is:
1. Verify if the user is an admin or not - could be done via the API.
2. If he's not an admin, set 'NotAdmin' global flag to 'True'
3. Pass that flag as part of every service call to the 'filter' parameter (so in essence, filter is True)

[2017-02-20 15:19] myoung34 opened #71 "Uncaught exception on start_vm"
[code]

[2017-02-20 16:32] rbprado opened #72 "Vagrant up stucks trying to ssh to the VM"
I already used vagrant-ovirt3 and for this plugin I was used to not set the config.vm.network :private_network... and the VM gets IP by DHCP after startup.

Now I am using oVirt 4.0.5 and trying to use the vagrant-ovirt4.

I've imported a CentOS 7 Generic Cloud VM from ovirt-image-repository (openstack glance) and then did the following steps:
- Installed ovirt-guest-agent-common
- cloud-init was

[2017-02-20 16:36] myoung34 commented on #72
This is an unforseen bug, I'll look into it. I'm currently looking into some almost-related DNS issues and can add this for after

[2017-02-20 20:24] #65 closed

[2017-02-20 20:27] myoung34 commented on #72
@rbprado try using the latest master commit.
Also you still need a `config.vm.network` block as you need to specify the network profile (probably `ovirtmgmt`)

I updated the README, but for DHCP:

`config.vm.network :private_network, :ovirt__network_name => 'ovirtmgmt' #DHCP`

[2017-02-20 20:34] #71 closed

[2017-02-20 20:34] #64 closed

[2017-02-20 20:35] myoung34 commented on #19
Closing in favor of #60

[2017-02-20 20:35] #19 closed

[2017-02-21 15:01] alclonky opened #75 "up failes if template has network configured"
my templates have network preconfigured,
if i don't set network in Vagrantfile i get:
INFO warden: Calling IN action: #<VagrantPlugins::OVirtProvider::Action::CreateNetworkInterfaces:0x00000003a53dd8>
ERROR warden: Error occurred: undefined method `[]' for nil:NilClass

if i set network in Vagrantfile i get:
Error while adding new interface to VM. Fault reason is "Operation Failed". Fault detail i

[2017-02-21 15:13] myoung34 commented on #75
can you post the whole stack trace from both? it'll help track it down

[2017-02-21 15:44] alclonky commented on #75
[with_network.txt](https://github.com/myoung34/vagrant-ovirt4/files/790621/with_network.txt)
[without_network.txt](https://github.com/myoung34/vagrant-ovirt4/files/790622/without_network.txt)

[2017-02-21 17:13] myoung34 commented on #75
@alclonky can you try #76 ?

[2017-02-21 17:43] rbprado commented on #72
For first I've built the vagrant-ovirt4 gem on the master branch from this repo, then removed all plugins from vagrant and tryed installing again the new gem generated:

$ vagrant plugin install /home/prado/Repositories/vagrant-ovirt4/pkg/vagrant-ovirt4-1.1.0.gem
Installing the '/home/prado/Repositories/vagrant-ovirt4/pkg/vagrant-ovirt4-1.1.0.gem' plugin. This can take a few minutes...
Fetching: o

[2017-02-21 17:48] myoung34 commented on #72
If you're doing it locally to test stuff you dont have to install the plugin.

[code]

As long as you use `bundle install` and `which vagrant` shows that you're using the bundle installed one, it will load the plugin dynamically from cwd

You can see in my output that `vagrant plugin list` shows no plugins because it uses the one in cwd as default (meaning i dont have to specify  `--provider`

[2017-02-21 18:48] rbprado commented on #72
Same error:

~/Repositories/vagrant-ovirt4$ bundle exec vagrant up
You appear to be running Vagrant outside of the official installers.
Note that the installers are what ensure that Vagrant has all required
dependencies, and Vagrant assumes that these dependencies exist. By
running outside of the installer environment, Vagrant may not function
properly. To remove this warning, install Vagrant usin

[2017-02-21 19:09] myoung34 commented on #72
42e5fd0 is the latest commit in master, you'll need the gh75 branch to test the fix from that PR

try

[code]

[2017-02-21 19:50] alclonky commented on #72
now i am getting:

==> default: Creating VM with the following settings...
INFO interface: info:  -- Name:          ovirt4test
INFO interface: info: ==> default:  -- Name:          ovirt4test
==> default:  -- Name:          ovirt4test
INFO interface: info:  -- Cluster:       Default
INFO interface: info: ==> default:  -- Cluster:       Default
==> default:  -- Cluster:       Default
INFO interface

[2017-02-21 19:51] alclonky commented on #75
no i am getting:

==> default: Creating VM with the following settings...
INFO interface: info:  -- Name:          ovirt4test
INFO interface: info: ==> default:  -- Name:          ovirt4test
==> default:  -- Name:          ovirt4test
INFO interface: info:  -- Cluster:       Default
INFO interface: info: ==> default:  -- Cluster:       Default
==> default:  -- Cluster:       Default
INFO interface:

[2017-02-21 19:58] myoung34 commented on #75
@alclonky try again but make sure you have `ovirt.debug = true`, i added a commit to not swallow the upstream error if that flag is set

[code]

[2017-02-21 20:02] alclonky commented on #75
/root/.vagrant.d/gems/2.2.5/gems/ovirt-engine-sdk-4.1.2/lib/ovirtsdk4/service.rb:52:in `raise_error': Fault reason is "Request syntactically incorrect.". Fault detail is "For correct usage, see: https://cloudovirt.sq.fabasoft.com/ovirt-engine/api/v4/model#services/vms/methods/add". HTTP response code is 400. (OvirtSDK4::Error)
        from /root/.vagrant.d/gems/2.2.5/gems/ovirt-engine-sdk-4.1.2/li

[2017-02-21 20:11] myoung34 commented on #75
what version are you running of oVirt ?

[2017-02-21 20:15] alclonky commented on #75
4.0.3
waiting on some bugs to be fixed until i can update to 4.1

[2017-02-21 20:29] myoung34 commented on #75
My guess is that this isn't compatible with 4.0.3

https://www.ovirt.org/release/4.1.0/ shows  a lot of changes to the REST API
Also I have the gem set to `ovirt-engine-sdk-4.1.2`

[2017-02-21 20:31] alclonky commented on #75
no problem for me if <4.1 isn't going to be supported,
but can't help testing until i can update

[2017-02-21 20:31] myoung34 commented on #75
You can try to set the version of the ruby sdk to 4.0.3 in the `vagrant-ovirt4.gemspec` and trying again with `bundle install` to see if that helps

[2017-02-21 20:32] myoung34 commented on #75
Until I hit a 1:1 matching point with the oVirt compatibility the base sdk gem is liable to change but I'm likely not going to change it past 4.1 since all commands are currently working

[2017-02-21 21:09] alclonky commented on #75
using 4.0.3, it works now (with and without creating network)

[2017-02-21 21:42] rbprado commented on #72
It worked! Thank you for the fix and the help to test it.

[2017-02-22 01:43] #72 closed

[2017-02-22 08:51] alclonky commented on #75
sorry was too late yesterday, the not configure network and use the interface from template case has still an issue

/root/.vagrant.d/gems/2.2.5/gems/vagrant-ovirt4-1.1.0/lib/vagrant-ovirt4/action/start_vm.rb:42:in `call': undefined method `[]' for nil:NilClass (NoMethodError)
        from /opt/vagrant/embedded/gems/gems/vagrant-1.9.1/lib/vagrant/action/warden.rb:34:in `call'
        from /opt/vag

[2017-02-22 13:37] alclonky opened #77 "Remote boxes aren't downloaded"
if i create a Vagrantfile:

Vagrant.configure("2") do |config|
  config.vm.provider "ovirt4"
  config.vm.box = "cloudbackend7"
  config.vm.box_download_ca_cert = "/data/ca-bundle.pem"
  config.vm.box_download_location_trusted = true
  config.vm.box_url = 'https://artifactory.mycom.com:443/artifactory/api/vagrant/sq-vagrant/cloudbackend7'
end

the box isn't downloaded and so there are no settings

[2017-02-22 14:58] myoung34 commented on #77
If it works with the url pointed at github there's not much I can help you with.
It's either: permissions, not found, or not valid/corrupt.

I'm not familiar with hosting vagrant boxes on artifactory. My question is: is it worth the effort?  If you look at [here](example_box/README.md) you'll see that it's basically just an empty tarball. Since you already depend on rubygems.org and probably githu

[2017-02-22 15:04] myoung34 commented on #75
@alclonky can you try the hash in #78?

[code]

[2017-02-22 15:17] alclonky commented on #77
if i box add the same url it works so i don't think its permissions, not found, or not valid/corrupt.

and yes it is usefull to host the boxes. I need to know which Box Version is used by which build.

I think you have to trigger "HandleBox"? like in [vsphere](https://github.com/nsidc/vagrant-vsphere/blob/9b3b2781b6e748f9f78b84245903a88c63b63350/lib/vSphere/action.rb)

[code]
vs.
[code]
debug outp

[2017-02-22 15:34] alclonky commented on #75
[code]

[2017-02-22 15:44] myoung34 commented on #75
alright sorry for being the beta user @alclonky can you try again? same 3 git commands

[2017-02-22 15:53] myoung34 commented on #75
can you add `ovirt.debug = true` to your vagrant file? i'd like to see the whole stack

[2017-02-22 16:04] alclonky commented on #75
[debug.txt](https://github.com/myoung34/vagrant-ovirt4/files/794052/debug.txt)

[2017-02-22 16:31] myoung34 commented on #75
I removed some optimizations and pushed them back up to that branch

[2017-02-22 19:48] alclonky commented on #75
works now

[2017-02-22 19:49] #75 closed

[2017-02-22 19:49] myoung34 commented on #75
Thanks for your patience =)

[2017-02-24 14:41] myoung34 commented on #77
If you want to try that and issue a PR I'd accept it. If i make that change I'll have to go back and forth with you to test it since I'm not having any related issues

[2017-03-01 18:12] jpdugal commented on #24
I saw the ability to configure 0 or multiple network has been added already (commit 1b53415) (even though I haven't been able to get multiple networks to work). Is this particular ticket to implement a way of mapping one NIC to a specific adapter on a host?

[2017-03-01 19:38] myoung34 commented on #24
It's definitely to clean things up. those commits set the stage but you're right there's no way to specify eth0, eth1, etc or which NIC they attach to. and multiple NICs is still untested, the commits i added were to allow attaching a NIC to a VM that come up from a template with one already attached

[2017-03-06 09:32] daanlevi commented on #72
I get the same error as mentioned above but it will not even create the vm
vagrant up --provider=ovirt4
Ignoring ovirt-engine-sdk-4.1.2 because its extensions are not built.  Try: gem pristine ovirt-engine-sdk --version 4.1.2
Vagrant failed to initialize at a very early stage:

The plugins failed to load properly. The error message given is
shown below.

cannot load such file -- ovirt-engine-sdk

[2017-03-06 09:41] daanlevi commented on #72
to give some more details when I install vagrant plugin install vagrant-ovirt4 I see the file in ~/.vagrant.d/gems/2.2.5/gems/vagrant-ovirt4-1.1.0/vagrant-ovirt4.gemspec
# -*- encoding: utf-8 -*-
# stub: vagrant-ovirt4 1.1.0 ruby lib

Gem::Specification.new do |s|
  s.name = "vagrant-ovirt4"
  s.version = "1.1.0"

  s.required_rubygems_version = Gem::Requirement.new(">= 0") if s.respond_to? :requi

[2017-03-06 10:32] myoung34 commented on #72
The content difference is because I haven't pushed out a new gem with these changes. I'll do that in the next few hours

[2017-03-06 10:53] daanlevi commented on #72
Thank you for your comment myoung34
I removed the plugins and installed them again and now it seems to be working.
one remark I still get the message "Ignoring ovirt-engine-sdk-4.1.4 because its extensions are not built.  Try: gem pristine ovirt-engine-sdk --version 4.1.4"
Also when I try to get a dynamic ip it errors ".vagrant.d/gems/2.2.5/gems/vagrant-ovirt4-1.1.0/lib/vagrant-ovirt4/action/start

[2017-03-06 11:21] myoung34 commented on #72
That's fixed with the 1.2.0 release I'll push out when I get to the office

[2017-03-06 13:47] myoung34 commented on #72
Try the latest version, I pushed 1.2.0

[2017-03-06 14:04] myoung34 commented on #77
Going to close this until I can replicate it on my side

[2017-03-06 14:04] #77 closed

[2017-03-06 14:05] myoung34 commented on #34
done in #79

[2017-03-06 14:05] #34 closed

[2017-03-06 14:05] myoung34 commented on #31
Resolved by #79

[2017-03-06 14:05] #31 closed

[2017-03-06 14:37] daanlevi commented on #72
Now I get the following error.
` ~/misc/develop/vagrant$ vagrant up
Ignoring ovirt-engine-sdk-4.1.4 because its extensions are not built.  Try: gem pristine ovirt-engine-sdk --version 4.1.4
Bringing machine 'default' up with 'ovirt4' provider...
==> default: Creating VM with the following settings...
==> default:  -- Name:          test-vm
==> default:  -- Cluster:       Default
==> default:  -- T

[2017-03-06 14:57] myoung34 commented on #72
`ovirt.debug = true` is what provides the full stack trace on an error
What version is your ovirt server?

[2017-03-06 15:36] myoung34 commented on #72
@daanlevi can you try to run against version 1.2.1? I reverted the underlying ruby sdk to 4.0.x instead of 4.1.x to see if it helps.

[code]

[2017-03-06 19:43] daanlevi commented on #72
We are using Version 4.0.5.5-1.el7.centos
I already had debug = true and that was the output that I pasted.
I tried to build the version with bundle on my mac but then I got an error.
[code]
Strange since i have ruby 2.4 installed with brew and rebooted my mac.

So when I comment out the vagrant part in the Gemfile I see the other parts getting build.
Then when I execute bundle exec vagrant up I g

[2017-03-06 19:51] myoung34 commented on #72
On the official? no, vagrant bundles their stuff with it so there's no way to mix and match even manually. You can try to build it and test it via vagrant, i published [these yesterday to assist in doing this in Jenkins](https://hub.docker.com/r/myoung34/vagrant/tags/)

See the usage, but that includes ruby 2.2.6 and vagrant

[2017-03-06 19:57] myoung34 commented on #72
@daanlevi can you open a new ticket to see if we can move this somewhere else?

[2017-03-07 09:36] daanlevi opened #80 "vagrant-ovirt4 1.2 compatibility issues"
As discussed in an earlier thread the 1.2 version of vagrant-ovirt4-1.2 seems to throw some errors when running against ovirt Version 4.0.5.5-1.el7.centos and using ovirt-engine-sdk-4.1.4

[2017-03-07 14:00] myoung34 commented on #80
I changed the requirement to `4.0.12` to see if it helps, it's in the `release/1.2.1` branch.

i created a docker image in the last few days to help with CI and it will help you the same way:
https://hub.docker.com/r/myoung34/vagrant/

[code]

once you're inside the container:

[code]

[2017-03-07 17:05] daanlevi commented on #80
I had to Use json 1.8.2 since the 1.7.7 version was not working with ruby 2.2.
After that I was able to connect to our ovirt cluster and create a vm.

[2017-03-07 17:11] myoung34 commented on #80
glad it got worked out.

[2017-03-07 17:11] #80 closed

[2017-03-07 17:59] jasonbrooks opened #81 "Support for sub-templates?"
Does the plugin support sub-templates? I created vagrant templates as sub versions of regular templates, but I couldn't tell how to reference them in my vagrantfile.

[2017-03-07 18:01] myoung34 commented on #81
`¯\_(ツ)_/¯ `

I actually have no idea, my Vagrantfiles have been fairly simple in comparison (i usually just spin up container hosts). I'm not familiar with subtemplates aside from kitchen vagrant templates

[2017-03-09 11:54] rbprado commented on #72
The error **Fault reason is "Request syntactically incorrect."** is also happening here with 1.1.0 and 1.2.0.

The version 1.2.1 is working fine here.

[2017-03-09 11:59] myoung34 commented on #72
@rbprado alright, let me run some tests using `1.2.1` against my server (which is 4.1)
If it works I'll push that out since it means that it adds more support all-around

[2017-03-09 13:02] myoung34 commented on #72
@rbprado @daanlevi i released 1.2.1 which sets the ovirt gem to the latest 4.0 and seems to resolve both of your issues

[2017-03-09 14:29] rbprado commented on #72
I was testing it with DHCP right now and it looks not to be setting up the eth0 on the VM.

[code]

At this point I have to enter on a VM tty and run `dhclient`, then the eth0 is set up and got IP. Otherwise vagrant tries to halt the VM:

[code]

[2017-03-09 14:58] myoung34 commented on #72
what does line 52 look like on that file? I'm not getting a const issue locally

I did find an issue with an unrelated `raise` but not that one.

`The VM has not reported an IP address. Please ensure the ovirt-guest-agent is running and the machine is up.`

[2017-03-09 15:04] myoung34 commented on #72
@rbprado I fixed it. When I version bumped to `1.2.1` I didn't bump it in the Gemfile.lock, so you're still using `1.2.0` as an include from bundler. I fixed it correctly along with some unrelated exception calls in `1.2.2`

[2017-03-09 18:27] rbprado commented on #72
It's yet getting stucked with 1.2.2:
´´´
...
==> template: Waiting for VM to get an IP address...
The VM has not reported an IP address. Please ensure the ovirt-guest-agent is running and the machine is up.
´´´
I checked it out and the ovirt-guest-agent is running.
Running the `dhclient` while waiting the IP, solves the problem.

[2017-03-09 18:31] myoung34 commented on #72
This isn't an issue with vagrant, the VM has to successfully  report it's IP to the oVirt server. The vagrant provider tries to give it an amount of time to do so via polling. If you have to run anything to get it to work you can use user data to try to automate dhclient or whatever you need

[2017-03-09 19:11] rbprado commented on #72
Sorry!
My template /etc/network/interfaces was set with iface eth0 inet static, now its dhcp :)

Thank you for the help.

[2017-03-31 03:34] myoung34 opened #85 "Add support for setting BIOS serial number"
http://lists.ovirt.org/pipermail/devel/2017-March/029741.html

[2017-03-31 13:52] #85 closed

[2017-04-12 08:17] alclonky opened #89 "ip detection failes if one NIC is disabled"
if a VM has multiple nics but one is configured with ONBOOT="no" ip detection fails -> endless loop

[2017-04-26 09:06] alclonky opened #91 "Allow not setting Hostname"
with your ovirt3 plugin I was able to only set the name for the vm in ovirt but not the hostname inside the vm.
now its the same configuration.
For Windows Boxes that means a reboot after creating the VM which costs lot of time.

[2017-05-11 23:38] rgajendran opened #92 "Configure mac address"
Is there a way to configure mac address when spinning up vagrant into ovirt?
[code]
Tried to configure with `mac => "5CA1AB1E0001"` & `base_mac`. Its not working. Any idea?

[2017-05-26 03:31] myoung34 commented on #92
The way to do this would be `config.vm.network :bridged , :mac => "080027XXXXXX"` but it's not currently supported. Ill keep this ticket here as a feature request

[2017-05-26 03:37] myoung34 commented on #91
That behavior is likely a bug in oVirt 3, but that behavior in the new one can [be found here](https://github.com/myoung34/vagrant-ovirt4/blob/master/lib/vagrant-ovirt4/action/start_vm.rb#L62)

I'm not sure it makes sense to _not_ set the hostname, that's rpetty standard across vagrant providers.
If you submitted a PR for a new configuration flag `set_hostname => false` i wouldn't be against it

[2017-06-06 21:31] dwest-galois commented on #59
I just upgraded from oVirt 3.5 to oVirt 4.1 and am trying to get the "vagrant-ovirt4" plugin working correctly with it.  It seems to work fine when deploying a VM as an admin user (SuperUser Role), but a normal user with the "PowerUser" role gets an error message that says: "query execution failed due to insufficient permissions."  Vagrant uses the Admin API by default, but there used to be an opt

[2017-06-07 01:57] mykaul commented on #59
Sounds like https://github.com/myoung34/vagrant-ovirt4/issues/59 ?

[2017-06-07 02:06] myoung34 commented on #59
@mykaul per your 2/20 comment, does the ruby SDK support `filter` flag? I dont see it in a quick search on https://github.com/oVirt/ovirt-engine-sdk-ruby/tree/master/sdk/examples

I do agree this should be there, but as the maintainer I dont quite care about strict permissions, only lax. I'm 100% on board with merging a PR for filtered API requests, but I have zero desire to do that myself as my o

[2017-06-07 02:10] mykaul commented on #59
I remember it was added at one point (https://gerrit.ovirt.org/#/c/72040/ perhap?)

[2018-01-15 11:04] natman opened #94 "allow multiple private_network creation"
It is not currently possible to add more than one private network, while native providers allow it. If I want more than one network, I must add any nic additional nic to the used template, but this is not vagrant covinient.

[2018-05-03 08:11] alclonky opened #95 "chef_solo with windows guest not working"
There was a fix in base vagrant for rsyncing chef cookbooks to windows guests.
[https://github.com/hashicorp/vagrant/pull/6160](https://github.com/hashicorp/vagrant/pull/6160)

As i can see you have your own sync_folders.rb in vagrant-ovirt4, so the Fix does not work!

 INFO subprocess: Starting process: ["/usr/bin/rsync", "--verbose", "--archive", "-z", "--owner", "--perms", "--exclude", ".vagran

[2018-06-15 18:28] #89 closed

[2018-06-15 18:29] #22 closed

[2018-07-25 07:42] pasa-edoardo opened #98 "JSON::ParserError `parse': 751: unexpected token at ''"
### Vagrant version
2.1.2

### Vagrant-ovirt4 version
1.2.2

### Host operating system
CentOS Linux release 7.5

### Guest operating system
CentOS/dummy.box

### Vagrantfile

[code]

### Debug output
https://gist.github.com/pasa-edoardo/c79ec8f3f7e495bcd9fbab45126a97e9

### Expected behavior
It should create vm on ovirt

### Actual behavior
Apparently pass the authentication but crash when try to

[2018-07-30 15:24] myoung34 commented on #98
Can you try running against vagrant <2?
Last version I have verified against was `1.9.2`

[2018-07-31 11:32] pasa-edoardo commented on #98
Hi, i'd try with vagrant  `1.9.2` , the same vagrantfile and the vagrant-ovirt4 (`1.2.2`). I have a comparable error with JSON Parser, this is the output:
https://gist.github.com/pasa-edoardo/4ddbf8700e32f957211d5c6fa5eb6411

I've also tried with the version `1.9.1` but the error is similar:
https://gist.github.com/pasa-edoardo/4fdcf58d735eefe69cf14ca4edb70081

[2018-07-31 12:03] myoung34 commented on #98
Youre missing multiple required values, such as console,cluster and template.

Per readme:

[code]

[2018-07-31 12:37] pasa-edoardo commented on #98
I had try adding `template`,`cluster`,`console` but i have obtain the same error; i'm using this vagrant file:
[code]
in the README, tagged like **Required** , there is **datacenter**  option but running `vagrant up` gave me this error:

Vagrantfile is the same upon but with more `ovirt.datacenter = 'Default'` in *provider* section
i'd the same results with vagrant-ovirt4-1.2.1.

[2018-07-31 13:34] myoung34 commented on #98
Updated documentation, i dont think i completed `datacenter`

Can you post debug logs of error/etc after adding template/console/cluster?

[2018-07-31 13:44] pasa-edoardo commented on #98
Sorry for not doing it before,
https://gist.github.com/pasa-edoardo/a040005758edba3ddad53afcbfb3c2f2

[2018-10-23 12:43] cliffe commented on #94
Just adding that this is also something we have come up against. It would be good if vagrant-ovirt4 had support for defining multiple networks. As it is, subsequent networks seem to overwrite the first networks' settings.

[2018-10-23 12:46] cliffe commented on #81
This would be a useful feature. We have some instances where oVirt is not selecting the most recent revision of a template. It would have helped us with a solution if we could specify which revision of template to use.

[2018-12-05 08:13] mykaul opened #99 "Feature request: support Kerberos authentication to the oVirt API"
It'd be nice if we can use Kerberos auth. to the oVirt API, which allows SSO using my kerb credentials.
I'm not sure if the Ruby SDK supports it though?

[2019-10-16 11:37] alclonky opened #105 "oVirt connections are not closed"
The opened oVirt connection has to be closed after error and success.
Keeping the sessions open kills oVirt engine database performance cause of the many sesssions from the same user in the sessionstable

[2019-11-21 09:24] dhovang opened #110 "Errors::RsyncError raised but not defined"
In file vagrant-ovirt4/action/sync_folders.rb Errors::RsyncError is raised, but the error is not defined in errors.rb, giving the following result:
vagrant-ovirt4/action/sync_folders.rb:58:in `block in call': uninitialized constant VagrantPlugins::OVirtProvider::Errors::RsyncError (NameError)

[2019-11-22 14:09] #20 closed

[2019-12-03 12:23] dhovang opened #111 "Version 1.2.2 not tagged"
The latest version on rubygems.org is 1.2.2, but there is no tag for this release.

[2019-12-09 03:41] jeremytourville opened #112 "Listed prerequisites and install script questions"
I have reviewed both the list of prerequisites and the install script.  If I understand correctly the install script will take care of all the prerequisites for you, is that right?  (Assuming you are using RHEL/Centos/SCL etc.)

I also see the install script installs more components than what is listed in the prerequisite list.  ie- various devel toos such as gcc,, make, ruby, ruby-devel, etc.  Ho

[2019-12-09 03:44] myoung34 commented on #112
that script is more of an example of what it takes to set up ovirt on that type of box. feel free to add or remove libraries but it's more or less to show whats needed and not a golden installer

[2019-12-10 03:42] jeremytourville commented on #112
Thanks. for clairfying

[2019-12-10 03:42] #112 closed

[2020-05-05 15:43] #105 closed

[2020-05-05 15:46] myoung34 commented on #110
Added to master branch

[2020-05-05 15:46] #110 closed

[2020-05-05 15:54] myoung34 commented on #111
built and pushed 1.2.3 with a fix for the rsync error

[2020-05-05 15:54] #111 closed

[2020-05-18 12:45] myoung34 commented on #99
I'm not sure how to implement or even test this, but if you come up with a PR i'd validate it

[2020-10-16 20:18] abbbi opened #118 "Support for roboxes/generic boxes"
hi there,

i mainly using vagrant with the libvirt provider. There is a big variety of operating systems available, created by the
roboxes project (https://github.com/lavabit/robox). Maybe it would make sense to have support for these boxes
in the ovirt4 provider too? They should meet all requirements as they work on plain libvirt nicely (but are missing cloud-init).

This would make it easier to

[2020-10-19 13:01] myoung34 commented on #118
If you can find a way to shim them into the build i'd be happy to merge a PR

[2020-10-20 14:24] abbbi commented on #118
So as i quick test i did the following:

1) Downloaded vagrant box generic/centos8
2) uploaded the boxes image as disk to RHV 4.4
3) Made a template
4) Spinned up a VM from the template, network configuration however failed.

The generic libvirt boxes depend on an internal libvirt management network and are by default configured
to use DHCP on the first network interface to be reachable by the vag

[2020-11-24 16:28] GervaisdeM opened #119 "oVirt 4.4 support?"
I'm trying to get this working with the current version of oVirt (4.4.2.6) and am receiving a 404 error. I see that the Gemfile.lock specifies ovirt-engine-sdk (4.0.12) and wonder why I am getting the error that I am seeing.

[code]

Any help would be appreciated.

[2020-11-24 19:07] #119 closed

[2020-11-24 19:08] GervaisdeM commented on #119
I had an issue with my Vagrantfile.
It is now hanging at "==> default: Waiting for VM to get an IP address..."
But I believe this is likely either config or another issue on my end.

[2020-12-03 21:30] GervaisdeM opened #120 "Stuck at Waiting for VM to get an IP address..."
I can't get my boxes to come up. They get stuck at `Waiting for VM to get an IP address...`
[code]

The box does come up though and does display properly in the ovirt-engine web interface.
![vagrant-ovirt4](https://user-images.githubusercontent.com/963514/101089382-75eb1900-358b-11eb-9115-da062d869340.png)

Hitting control-c shuts down the vm and removes it as expected. Can someone help me debug w

[2020-12-04 15:41] jeremytourville commented on #120
I am experiencing the same issue when using the mgmt network.  I am going to try using my vm network next.  I did have this SecGen project working in the past on ovirt 4.3.  I can't say that is the issue though.  I have also recently rebuilt my system on a single node so our situation is very similar.  I am going to be doing some more testing.  More to follow...

[2020-12-04 17:58] jeremytourville commented on #120
I tried a couple of things to test this:
#1 When I manually build the vm from template I get an IP address from DHCP.  The ovirt-guest-agent is running in my vm and so I do not get the red exclamation.

#2 Just like you, I do get the red exclamation if Vagrant is building the VM.

I think my tests prove that my oVirt environment and template are running correctly.  I even tried running the SecGen

[2020-12-07 19:28] GervaisdeM commented on #120
@jeremytourville When vagrant brings up the vm, it has a red exclamation mark because the vm is running in "Run Once" mode, not because the guest additions are not working. Even when I up a box with vagrant, I see the ip address being displayed in the ovirt-engine and the guest additions are working properly when I ssh into the vm.

![red-exclamation](https://user-images.githubusercontent.com/9635

[2020-12-07 21:43] jeremytourville commented on #120
@GervaisdeM Thanks for reminding me about run once mode expected behavior.  I had forgotten about that as I rarely if ever run VMs in that manner for most of the work I do.

You said>>>"I wonder if the api has changed?"  I'm not sure but I do know this was working for me previously in oVirt 4.3.

I'm going to ask a few programmer friends and see if we can hunt down the issue.  Let's keep this thre

[2020-12-14 19:40] GervaisdeM commented on #120
@jeremytourville You get any further? I was off on other things for a few days.

It seems that this is the line that is failing to work:
https://github.com/myoung34/vagrant-ovirt4/blob/master/lib/vagrant-ovirt4/action/wait_till_up.rb#L60

Not sure if this is correct, but I changed this line so that it falls to multiple lines and put in a couple more `env[:ui].info("this_var: #{this_var}") things l

[2020-12-16 00:53] jeremytourville commented on #120
I haven't forgotten. I had mistakenly thought that some of the developers I know could program in Ruby.  I guess not.  I'll continue to check with my network.  Surely somebody can give us a hand!

[2020-12-29 14:24] GervaisdeM commented on #120
@myoung34 Any ideas what is going on here?

[2020-12-30 20:14] GervaisdeM commented on #120
I hard coded the IP address by commenting out the line: https://github.com/myoung34/vagrant-ovirt4/blob/master/lib/vagrant-ovirt4/action/wait_till_up.rb#L60 and replacing it with `ip_addr = "192.168.69.69"` and then setting the IP address in my Vagrantfile to the same IP... Of course, I now gets past the waiting for ip step. It fails trying to rsync the vagrant dir (the next step). `control-c` sto

[2020-12-30 23:37] myoung34 commented on #120
I can look around, but unfortunately I no longer run ovirt so I dont have access to much of the debugging ability.

[2020-12-30 23:42] myoung34 commented on #120
as for the debugging:

`==> default: nic_attachment: #<OvirtSDK4::Nic:0x00007ff2d69b2280>` this is because youre printing the Nic object, not a function/attribute on the object. Unfortunately the ovirt sdk is generated off the API so there's no `nic.rb` to look into. you'd have to use the debugger to break there and do something like

`p variable.inspect` where variable is the nic object

[2021-01-04 20:59] daFritz84 commented on #120
Hi, I did a bit of debugging with pry and came up with a fix #121
Please note that this does not fix the rsync issues as reported by @GervaisdeM

[2021-01-05 01:29] jeremytourville commented on #120
I just tried this after the merge request was committed.  I downloaded the zip file again and installed.  I presume that should update the code on my machine with the newest fix.  I didn't have any luck I am still getting waiting for IP address.  I am running oVirt 4.4.x on CentOS 8.2 or 8.3  My VM that has the ovirt4 extension is Ubuntu 18.04 LTS.

[2021-01-05 10:35] daFritz84 commented on #120
Have you double checked that the new code from the zip file is actually used?
I did this by modifying one of the strings `locales/en.yml`.

E.g. just rename
[code]

to

[code]

If vagrant uses the fixed version from the merge request, it should now print out `Test` instead of `Waiting for VM to get an IP address...`

[2021-01-05 14:33] jeremytourville commented on #120
I checked to find out where the yml file is located.  Which one do I need to edit? (see below)
So far I have edited -
/home/user/vagrant-ovirt4-master/locales/en.yml
as Test 1
/home/user/bin/SecGen/vagrant-ovirt4/locales/en.yml
as Test 2

Presently, I am still getting the  Waiting for VM to get an IP address... message when I run vagrant up from within my SecGen projects folder.  I even deleted al

[2021-01-05 15:06] daFritz84 commented on #120
Which folder contains the freshly pulled zip-file from this project?
`/home/user/vagrant-ovirt4-master/locales/en.yml` or `/home/user/bin/SecGen/vagrant-ovirt4/locales/en.yml` ?

Either way, if you renamed one as `Test1` and the other as `Test2` and you still get 'Waiting for IP address ...' vagrant probably runs still the old unpatched version.

How did you install the patched version?
I did the

[2021-01-05 16:33] GervaisdeM commented on #120
@daFritz84 🎉‼️ Amazing! This has sorted my immediate issues with the plugin. TY!! Your install method/tips that you sent @jeremytourville did not work for me on macOS, but I ran your code with `bundle exec` like I describe below for Jeremy. The commands above do not fail (although I had to run `gem build vagrant-ovirt4.gemspec`), but the plugin was not available to vagrant. ie. `vagrant up` compla

[2021-01-05 17:35] GervaisdeM commented on #120
@myoung34 I'm going to do a bunch of testing and can report back if "everything" is working now with oVirt 4.4.4.5-1.el8 (what I am running) and can report back here before you push a new release of the plugin.

[2021-01-06 14:08] daFritz84 opened #124 "Halted VM cannot be destroyed"
My understanding is that I can stop a VM with vagrant and then destroy it. Using this provider I get an error as shown in the log below. Bringing the machine up and then destroying it works OK.

@myoung34 Is this a bug or intended behaviour. In case this is a bug I will look into fixing it. Please advise.

log:
[code]

[2021-01-06 14:11] daFritz84 commented on #124
Looking through the open pull-requests, I think #116 might fix this behavior already.

[2021-01-06 14:13] myoung34 commented on #124
I merged #116 if you want to see if it fixes it

[2021-01-06 14:38] daFritz84 commented on #124
#116 worked beautifully.

An improved approach would be to check if the machine is already halted. I will look into that later, so I keep this issue open for now.

Log:
[code]

Tested with ovirt 4.4.2.6-1.el8 and Ubuntu 20.04 WSL on Windows 20H2

[2021-01-07 15:24] daFritz84 opened #126 "Memory size is not applied correctly"
The memory options in the vagrantfile are not set up correctly. When I set all three memory sizes, e.g. to 4096MB (size, maximum, guaranteed), I expect that the virtual machines spins up with exactly that configuration. As for the example, it spins up with 3906MB, 15624MB, 3906MB.

I know that there is some odd ovirt UI behaviour, where setting one memory size influences the other memory settings.

[2021-01-07 18:19] daFritz84 opened #127 "Feature request: Start vm's in normal, not in runonce mode"
Virtual machine's are started up in a `runonce` mode. Ovirt flags such vm's with an exclamation mark which normally indicates a problem. I suggest to change the default behaviour to normal startup. If there is a valid reason for `runonce`, then make this behaviour at least adjustable.

Screenshot of vm with exclamation mark:
![image](https://user-images.githubusercontent.com/3084809/103928926-c9b5

[2021-01-07 20:10] daFritz84 commented on #126
Seems that ovirt is not consistent wether it should use old-fashioned `Megabytes` or the newer `Mebibyte`.  The web UI still uses `MB` while the REST API requires sizes in `MiB`.

If you use `MiB` in your Vagrantfile you indeed get the desired size in `MB` at the frontend. Nonetheless setting the maximum memory does not work as expected. I assume this value is auto-adjusted after setting the memor

[2021-01-08 01:12] myoung34 commented on #126
If those are more obvious and readable I'm all for it

[2021-01-08 01:29] myoung34 commented on #127
Without a test ovirt I'm not sure I have the ability to tackle this 😱

[2021-01-08 01:29] myoung34 commented on #127
Without a test ovirt I'm not sure I have the ability to tackle this 😱

[2021-01-08 01:30] myoung34 commented on #124
Resolved by #125

[2021-01-08 01:30] #124 closed

[2021-01-08 16:22] GervaisdeM commented on #120
@myoung34 I ran through testing all the [Supported Commands (tested)](https://github.com/myoung34/vagrant-ovirt4#supported-commands-tested). Below are my results. Many of the issues don't really matter to me. I really just need my development team to be able to up and destroy boxes. Any chance that the ruby gem can get pushed (even as a beta) so that I can update my Vagrantfile (we have a very cus

[2021-01-09 08:33] daFritz84 commented on #127
😁 Understood.

I'm currently investigating if this can even be done considering the current behavior of ovirt. The `run-once` mode is basically set by the `cloud-init` functionality which is in turn needed to provision the ssh-key and install the qemu-guest-agent package.

A similar issue was marked as fixed in [Ansible 22189](https://github.com/ansible/ansible/issues/22189). I still have to read

[2021-01-09 08:38] daFritz84 commented on #120
@GervaisdeM I will have a look and see what I can do 😄

If you don't mind, I prefer to split up each bug into its own little github issue with a backreference to this issue. As far as I'm concerned, the original cause of this issue has been resolved.

[2021-01-09 09:05] daFritz84 commented on #126
PR for MiB/GiB is out.

I still want to keep this issue open and see if I can something about that `maximum memory` adjustment. I don't mind auto-adjustment when I don't explicitly set the parameter, but when I do, I want my systems to adhere.

[2021-01-09 11:16] daFritz84 opened #129 "vagrant reload crashes and removes the vm"
As originally reported by @GervaisdeM in #120:

vagrant reload
-> If the vm is not up, it brings up the vm, halts it, and removes the vm.
-> if the vm is up, it halts the vm, brings it up, halts it, and removes the vm.

[code]

[2021-01-09 12:00] daFritz84 opened #131 "vagrant resume crashes and removes the vm"
As originally reported by @GervaisdeM in #120:

vagrant resume
-> See below. It resumes the vm (and looks good), but then halts it and removes it.

[code]

[2021-01-09 23:09] GervaisdeM commented on #120
The original issue that was reported on here has been resolved.
Closing this issue as new issues have been created for latest things found.

[2021-01-09 23:09] #120 closed

[2021-01-11 10:15] daFritz84 opened #133 "'snapshot list' lists all snapshots in cluster"
I noticed that `vagrant snapshot list` lists all snapshots of the whole cluster. I expected to see only the snapshost from the machine in the `Vagrantfile`.

I am not sure if listing "all" snapshots (i.e. from all vm's) is the correct behavior. I would rather expect to see "all" snapshots from the managed machine. See also [vmware esxi](https://github.com/josenk/vagrant-vmware-esxi/blob/e3ba1f74d0

[2021-01-11 10:25] mika-b opened #134 "translation missing: en.vagrant_ovirt4.states.short_not_created"
[code]

[2021-01-11 11:50] mika-b opened #136 "Unable to get instance IP address with oVirt 4.3"
Trying to ssh into existing guests fails with:
[code]
Even after ovirt shows the address provisioning new ones is stuck at:
`==> default: Waiting for VM to get an IP address...`

Regression caused by 8772ee9fa1e3827ec6547386f2619409a170593a and b8314fb4901ec7dd47d4b9f3e61f466ca04541ae

[2021-01-11 13:01] #129 closed

[2021-01-11 13:01] #131 closed

[2021-01-11 13:02] #134 closed

[2021-01-11 13:03] #126 closed

[2021-01-11 13:07] myoung34 commented on #136
Resolved by #137

[2021-01-11 13:12] myoung34 commented on #133
I think if you do an if condition [here](https://github.com/myoung34/vagrant-ovirt4/blob/master/lib/vagrant-ovirt4/action/snapshot_list.rb#L41) using the VM id or name as a filter (or a map reduce after grabbing all, im not picky - just less performant) this can be fixed fairly easily

[2021-01-11 13:14] myoung34 commented on #118
Is there anything actionable here? Im still unsure about this:

Im not familiar with this functionality being in the provider itself. Is it inherited in the provider? Or is this on the ovirt server itself?

[2021-01-11 13:14] #60 closed

[2021-01-11 13:14] #57 closed

[2021-01-11 13:15] #47 closed

[2021-01-11 13:15] #39 closed

[2021-01-11 13:15] #27 closed

[2021-01-11 13:15] #24 closed

[2021-01-11 13:15] #23 closed

[2021-01-11 13:15] #18 closed

[2021-01-11 13:15] #9 closed

[2021-01-11 13:16] myoung34 commented on #81
Im OK to merge a PR for this, but its a few years old
If someone can help submit a scaffold for this Im happy to submit feedback and potentially merge it

[2021-01-11 13:16] #81 closed

[2021-01-11 13:16] myoung34 commented on #91
Im OK to merge a PR for this, but its a few years old
If someone can help submit a scaffold for this Im happy to submit feedback and potentially merge it

[2021-01-11 13:16] #91 closed

[2021-01-11 13:16] myoung34 commented on #92
Im OK to merge a PR for this, but its a few years old
If someone can help submit a scaffold for this Im happy to submit feedback and potentially merge it

[2021-01-11 13:16] #92 closed

[2021-01-11 13:16] #94 closed

[2021-01-11 13:17] #95 closed

[2021-01-11 13:17] #98 closed

[2021-01-11 13:17] #99 closed

[2021-01-11 16:00] abbbi commented on #118
vagrant-libvirt for example checks if the base image configured in the Vagrantfile is available in the local storage where
the virtual machine is provisioned. If not, it downloads the base image and uploads it to a storage volume, in order to
clone the vagrant cow vm snapshot from it.

[2021-01-11 17:32] #136 closed

[2021-01-11 19:27] myoung34 opened #138 "A thanks and a release"
https://github.com/myoung34/vagrant-ovirt4/releases/tag/v2.0.0

If youd all like to test that version and see if all the changes work as expected.

@mika-b
@dafritz84
@cliffe
@alclonky
@GervaisdeM

[2021-01-11 19:28] #138 closed

[2021-01-11 23:10] GervaisdeM commented on #133
We use vagrant with many users with multiple environments. For the snapshot feature to be useful to us, listing only snapshots for each vm would be very important.

We would run vagrant snapshot commands like:
[code]

I also have concerns around name conflicts.  I can definitely see an issue where multiple users create snapshots named things like, "Clean," "saved," etc.

[2021-01-11 23:46] myoung34 commented on #133
If you filter by the machines unique id it should be fine

[2021-01-12 09:16] mika-b commented on #138
Thanks for the release.

Some things quickly tested with oVirt 4.3:
 - SSH into existing guest
 - Create new CentOS 7 guest (eth0 configured)
 - Create new Ubuntu bionic guest (ens3 and ens4 configured, rsync working as expected)
 - 'vagrant up' for an existing CentOS 8 guest (rsync working as expected)

Used plugin from rubygems (not self built):
vagrant plugin install --plugin-version 2.0.0 vagr

[2021-01-12 09:22] mika-b opened #139 "Github actions should only be executed for myoung34/vagrant-ovirt4"
I updated the master branch of my fork of the repo and github executed actions on it. Now, obviously it fails since I don't have required permissions to 'Release GEM'.

https://github.com/mika-b/vagrant-ovirt4/actions/runs/479695371

[2021-01-12 13:55] myoung34 commented on #139
Thanks for this. It's weird though because forks shouldnt be able to run actions without enabling them:

![](https://i.imgur.com/oGPF01R.png)

But ill add some logic just to triple check

[2021-01-12 13:55] #139 closed

[2021-01-12 13:55] myoung34 commented on #139
Oh. `scheduled workflows` 🤦

I'll add some logic. Thanks @mika-b

[2021-01-12 13:58] myoung34 commented on #139
Fixed in theory ![](https://cdn.zappy.app/a0a9d8cde12819bb906416b0f6866d77.png)

[2021-01-12 15:36] daFritz84 commented on #138
Thanks again for the release. I also used the plugin from rubygems.

I tested every command supported with ovirt 4.4.2.6-1.el8:

- `vagrant up` OK
- `vagrant destroy` OK
- `vagrant ssh` OK
- `vagrant ssh-config` OK
- `vagrant halt` OK
- `vagrant reload` OK
- `vagrant status` OK
- `vagrant suspend` OK
- `vagrant resume` OK

The snapshot functionality needs some more love, but there is already an is

[2021-01-13 02:16] cliffe commented on #138
Fantastic. Not sure when I'll get a chance to test this (at least a few weeks), but really happy to see some development happening, as we do rely on vagrant-ovirt4 pretty extensively. Thanks for keeping the project alive, @myoung34!

[2021-01-13 05:19] myoung34 commented on #138
I'm actively trying to find a VPS that does nested virtualization so i can test this myself, but time and commitment is proving hard to make that work

[2021-01-13 07:48] daFritz84 commented on #138
Uhoh, nested virtualization and ovirt was a f*****g nightmare. I wouldn't go down that road

I did a nested-kvm setup during initial testing of ovirt and I can't remember all kernel parameters I had to set on the VMs to get it finally installed. I had problems from ovirt chocking on the exposed cpu features to gluster not handling xfs xattr in a proper manner.

I would go hyperconverged on a singl

[2021-01-14 14:15] GervaisdeM opened #140 "Successfully upped box reports its state as "preparing""
Box finishes coming up (after a very long puppet run) but never reports its state as "up" and is stuck displaying "preparing"
[code]

If I suspend the box and resume it, it does report "up"
:)

[2021-01-14 14:31] GervaisdeM opened #141 "Feature request: Add support for vagrant snapshot restore"
Since we have `vagrant snapshot {list,save,delete}` funtionality already it would be great to also have the ability to restore snapshots with `vagrant snapshot restore [options] [vm-name] <name>` also.

@daFritz84 want to take a crack at this also?

[2021-01-14 17:53] daFritz84 commented on #141
I'm on it. However, I won't get to it until the weekend.

[2021-01-16 12:59] daFritz84 commented on #140
Can you create a minimal example, i.e. `Vagrantfile` that has this kind of behaviour? I'm thinking of a minimal vm definition with an ansible provisioner which executes a [pause](https://docs.ansible.com/ansible/latest/collections/ansible/builtin/pause_module.html) maybe.

[2021-01-16 18:09] daFritz84 commented on #133
I still have a bit of a struggle here:

The same list feature is used as an initial filter (as a capability) for `vagrant snapshot delete`.  So regardless what I pass to snapshot delete I cannot get it to pass the initial snapshot-list filter. I tried both the `id` and the `description`, as well as the whole printed line. It seems that vagrant itself (not the plugin) does some string compare.

@my

[2021-01-16 19:40] #133 closed

[2021-01-18 15:38] GervaisdeM commented on #140
Not using ansible these days... I made a shell script (hope that still tests what you want)

[code]

VM comes up and runs the shell provisioner. It still says that the state is "preparing" in `vagrant global-status`.

[code]

[2021-01-18 18:59] daFritz84 commented on #140
Nice, that will definitely do. I will try to reproduce this issue and see if I can come up with a fix.

[2021-01-18 19:27] daFritz84 opened #143 "'snapshot delete' does not take 'id' or 'description'"
I already asked this on the `snapshot list` issue (#133), but it was probably missed:

I tried both the `id` and the `description` as a parameter for `vagrant snapshot delete`. Both did not work and reported an unknown snapshot.

Log:
[code]

Do I miss something obvious here? @myoung34  @GervaisdeM  how did you guys use this command?
From digging into the code base, I believe that `vagrant` itself

[2021-01-19 16:14] GervaisdeM commented on #140
Found something interesting when testing snapshot issue... Seems that taking any action on the vm makes it check the status again and it then reports as "up."
[code]

[2021-01-19 19:26] GervaisdeM commented on #143
I thought this worked when I tested everything, but today's testing confirms that `vagrant snapshot delete` does not work and I am seeing the same result as you are.

As for which is preferred for identifying snapshots for delete... `id` seems safest to me, unless perhaps if the machine name were somehow prepended (or appended) to the snapshot name. Or you sort out the `snapshot list` to only show

[2021-01-20 07:07] daFritz84 commented on #143
My fix for `snapshot list` has been merged so only snapshots of vagrant managed VMs are shown.

On the one hand, `id` has the advantage of being guaranteed unique while being bulky to handle (i.e., non human friendly naming, rather long). It maybe also less friendly for scripting, since the `id` is generated by ovirt and not something the user can define in his script (i.e., the `id` has to be loo

[2021-01-22 15:59] GervaisdeM opened #144 "vagrant destroy removes vm from global-status even if it fails to contact ovirt-engine and vm becomes orphaned"
**Issue**
Today, I tried to destroy a vm but my local computer had lost connection to our office vpn. IMO, the results of the commands were not what they should have been.

It failed to find the vm listed in the ovirt-engine (because it couldn't talk to it), but it still removed the vm from global-status. We have a lot of environments and rely heavily on `vagrant global-status` as `vagrant status`

[2021-01-23 12:46] myoung34 commented on #144
This is built in behavior. This plugin does not have any custom behavior for status or global-status.
Some of this is documented here: https://www.vagrantup.com/docs/cli/global-status

Specifically:

[2021-01-24 15:42] GervaisdeM commented on #144
@myoung34 I understand that global-status does not check and maintain an actual list of machines, but instead relies on a cache and stale machines can be pruned...

The issue is with `vagrant destroy`. If a provider can not be contacted, `vagrant destroy` should not clear the machine out of the cache that is maintained by `vagrant global-status`. You can see that the vSphere plugin checks before c

[2021-01-24 16:15] myoung34 commented on #144
Ah sorry @GervaisdeM I misunderstood. Ill see if I can point out some tips or maybe get in an untested PR for you to test

[2021-04-26 12:43] GervaisdeM commented on #144
This has been resolved by Adam's PR above.
:)

[2021-04-26 12:43] #144 closed

[2021-07-09 11:16] cliffe opened #149 "oVirt test connection always failing"
We've been updating our servers to latest Vagrant and Vagrant-Ovirt4 on Ubuntu 20.04, and found it always failed:

[code]

The fix was to change the line:
[code]
to
[code]

Not sure why this is the case, as the API doc does indicate the code should have been fine: https://www.rubydoc.info/gems/ovirt-engine-sdk/OvirtSDK4%2FConnection:test -- perhaps the gem is still behind. Anyway, this might help

[2022-03-21 16:36] #127 closed